<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Members Only Club</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="bodyContainer">
    <%- include('partials/navbar') %>
    <div class="loginContainer">
      <% if (locals.errors && locals.errors.length > 0) { %>
        <p class="error"><%= errors[0] %></p>
      <% } %>
      <form method="post" action="/login" class="loginForm" autocomplete="off">
        <label>Username:</label>
        <input type="text" name="username" />
        <label>Password:</label><input type="password" name="password" />
        <input type="submit" class="loginButton" value="Log In" />
      </form>
    </div>
  </div>
</body>
</html>
