<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Members Only Club</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="bodyContainer">
      <%- include('partials/navbar') %>
      <div class="profileContainer">
        <a href="/logout" class="logout">Logout</a>
        <div class="joinClubContainer">
          <% if (locals.isMember) { %>
          <p>Congrats! You are a member of our club</p>
          <% } else { %>
          <form method="POST" action='/member' autocomplete="off">
            <label for="password">
              <p>Enter the top secret password to become a member of our Club:<p>
              <p><i>Hint: It's a 6 letter word that starts with <b>secre</b></i></p>
            </label>
            <div class="inputContainer">
              <input type="text" name="password" />
              <input type="submit" value="Submit" />
            </div>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
