<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Members Only</title>
</head>
<body>
  <% if (locals.errors) { %>
    <ul>
    <% errors.map(error => { %>
      <li><%= error %></li>
    <% }); %>
    </ul>
  <% } %>
  <form method="post" action="/register">
    <div><label>Username:</label><input type="text" name="username" /></div>
    <div><label>Password:</label><input type="password" name="password" /></div>
    <div><button type="submit">Register</button></div>
  </form>
</body>
</html>
